body {
	margin: 0;
}

h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 32pt;
	font-weight: 100;
	margin: 0;
}

p {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
}

.nav {
	background-color: black;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
}

.carousel {
	height: auto;
	margin: 60 0 0 0;
	padding: 0;
	width: 100%;
}

.scrollview {
	height: 100%;
	width: 100%;
}

.slide {
	height: 300px;
	width: 100%;
}

/* Main slide */

#main {
	background-image:url("rave.jpg");
	background-position: center;
	height: auto;
	padding: 40 0;
	width: 100%;
}

#video-container {
	display: block;
	margin: 0 auto;
	width: 853px;
}

/* Preorder button stuff */

#preorder-controls {
	height: 80px;
	margin-top: 20px;
}

.button {
	background-color: #1b91d8;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	cursor: pointer;
	height: 80px;
	float: left;
	width: 300px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

.button:hover {
	background-color: #0071b8;
}

.button > p {
	font-size: 28pt;
	line-height: 80px;
	text-align: center;
}


/* Meter stuff */

.meter-container {
	float: right;
	height: 80px;
	width: 510px;
}

#stats {
	height: 50px;
	margin: 0 0 5 0;
	width: 100%;
}

.stat {
	border-color: white;
	border-style: solid; 
	border-width: 0 1 0 1;
	float:left;
	height: 50px;
	width: 166px;
}

.stat > p > strong  {
	font-size: 20pt;
	font-weight: 300;
	text-align: center;
}

.stat > p {
	font-size: 14pt;
	font-weight: 100;
	line-height: 18pt;
	text-align: center;
}

.meter { 
	height: 25px;
	position: relative;
	background: #333;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0;
}

.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #1b91d8;
	-webkit-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 
	  inset 0 2px 9px  rgba(255,255,255,0.3),
	  inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}


/* Sharing slide */

#sharing {
	background-color: #111;
	height: 650px;
	overflow: hidden;
	padding: 20 0;
	width: 100%; 
}

#sharing > .headphone {
	background-image: url("headphone.png");
	background-position: cover;
	background-size: 100%;
	height: 610px;
	margin: 20px;
	width: 200;
	z-index: -1;
}


/* Transmission */

#signal {
	margin: 200 auto 40 auto;
	height: 240px;
	overflow: hidden;
	width:420px;
}

.circle {
	padding:32px;
	border: 16px solid transparent;
	border-radius:400px;
	-webkit-animation: left 1.5s linear infinite;
	-moz-animation: left 1.5s linear infinite;
	-o-animation: left 1.5s linear infinite;
	animation: left 1.5s linear infinite;
}
	
.one {
	width:384px;
	height:384px;
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	animation-delay:0.5s;
}
.two {
	-webkit-animation-delay:0.4s;
	-moz-animation-delay:0.4s;
	-o-animation-delay:0.4s;
	animation-delay:0.4s;
}
.three {
	-webkit-animation-delay:0.3s;
	-moz-animation-delay:0.3s;
	-o-animation-delay:0.3s;
	animation-delay:0.3s;
}
.four {
	-webkit-animation-delay:0.2s;
	-moz-animation-delay:0.2s;
	-o-animation-delay:0.2s;
	animation-delay:0.2s;
}
.five {
	-webkit-animation-delay:0.1s;
	-moz-animation-delay:0.1s;
	-o-animation-delay:0.5s;
	animation-delay:0.1s;
}

@-webkit-keyframes left {
	0% {border-top: 16px solid #1b91d8;}
	100% { border-top: 16px solid rgba(0,0,0,0.1);}
}

@-moz-keyframes left {
	0% {border-top: 16px solid #1b91d8;}
	100% { border-top: 16px solid rgba(0,0,0,0.1);}
}
@-o-keyframes left {
	0% {border-top: 16px solid #1b91d8;}
	100% { border-top: 16px solid rgba(0,0,0,0.1);}
}

@keyframes left {
	0% {border-top: 16px solid #1b91d8;}
	100% { border-top: 16px solid rgba(0,0,0,0.1);}
}



/* Lights */

#lights {
	height: 700px;
	-webkit-animation: pulse 0.5s linear infinite;
	-moz-animation: pulse 0.5s linear infinite;
	-o-animation: pulse 0.5s linear infinite;
	animation: pulse 0.5s linear infinite;

}

@-webkit-keyframes pulse {
	0% { background-color: black;}
	10% { background-color: #1b91d8;}
	100% { background-color: black;}
}
@-moz-keyframes pulse {
	0% { background-color: black;}
	10% { background-color: #1b91d8;}
	100% { background-color: black;}
}
@-o-keyframes pulse {
	0% { background-color: black;}
	10% { background-color: #1b91d8;}
	100% { background-color: black;}
}
@keyframes pulse {
	0% { background-color: black;}
	10% { background-color: #1b91d8;}
	100% { background-color: black;}
}

#headphone-mask {
	background-image: url("beats_lights.png");
	background-position: center;
	height: 700;
	width: 100%;
}


#customize {
	background-color: yellow;
}