div.logo-thumb {
	background-image: url('../img/logo_cyan_transparent_small.png');
	height: 50px;
	margin: auto;
	width: 93px;
}

div.x {
	background-image: url('../img/x.png');
	background-size: cover;
	height: 30px;
	float: right;
	transition: .25s;
	width: 30px;
}

div.x:hover {
	cursor: pointer;
	opacity: .5;
}

#shortcuts li .inner.home {
	background-image: url('../img/home-blue-outline.png');
	background-size: 18px;
}

#shortcuts li .inner.social {
	background-image: url('../img/social-blue-outline.png');
	background-size: 19px;
}

#shortcuts li .inner.customize {
	background-image: url('../img/customize-blue-outline.png');
	background-size: 22px;
}

#shortcuts li .inner.interface {
	background-image: url('../img/interface-blue-outline.png');
	background-size: 20px;
}

#shortcuts li .inner.touch {
	background-image: url('../img/touch-blue-outline.png');
	background-size: 20px;
}

#shortcuts li .inner.details {
	background-image: url('../img/details-blue-outline.png');
	background-size: 22px;
}

#shortcuts li .inner.story {
	background-image: url('../img/story-blue-outline.png');
	background-size: 20px;
}