div.logo-thumb {
	background-image: url('../img/logo_cyan_transparent_small.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
	margin: auto;
	width: 74px;
}

div.x {
	background-image: url('../img/x.png');
	background-size: cover;
	height: 30px;
	float: right;
	transition: .25s;
	width: 30px;
}

div.x:hover {
	cursor: pointer;
	opacity: .5;
}

#bostinno {
	background-image: url('../img/press/bostinno.png');
}

#coolhunting {
	background-image: url('../img/press/coolhunting.png');
}

#crowdfundinsider {
	background-image: url('../img/press/crowdfundinsider.png');
}

#digitaltrends {
	background-image: url('../img/press/digitaltrends.png');
}

#engadget {
	background-image: url('../img/press/engadget.png');
}

#techcrunch {
	background-image: url('../img/press/techcrunch.png');
}

#yankodesign {
	background-image: url('../img/press/yankodesign.png');
}

#tap {
	background-image: url('../img/gestures/tap.png');
}

#doubletap {
	background-image: url('../img/gestures/doubletap.png');
}

#hold {
	background-image: url('../img/gestures/hold.png');
}

#updown {
	background-image: url('../img/gestures/updown.png');
}

#leftright {
	background-image: url('../img/gestures/leftright.png');
}



.social-icon {
	background-size: cover;
	float: left;
	height: 50px;
	margin-right: 10px;
	transition: .5s;
	width: 50px;
}

#footer .social-icon {
	margin: 0 10px;
}

.social-icon:hover {
	opacity: 0.7;
}

#facebook {
	background-image: url('../img/social_media/facebook.png');
}

#twitter {
	background-image: url('../img/social_media/twitter.png');
}

#youtube {
	background-image: url('../img/social_media/youtube.png');
}

#instagram {
	background-image: url('../img/social_media/instagram.png');
}

div.app-store {
	background-image: url('../img/mobile-app/app_store.png');
	background-size: cover;
	height: 60px;
	width: 179px;
}

div.play-store {
	background-image: url('../img/mobile-app/play_store.png');
	background-size: cover;
	height: 60px;
	width: 171px;
}

#shortcuts li .inner.home {
	background-image: url('../img/home-blue-outline.png');
	background-size: 18px;
}
#shortcuts li .inner.home:hover {
	background-image: url('../img/home-blue-fill.png');
}

#shortcuts li .inner.social {
	background-image: url('../img/social-blue-outline.png');
	background-size: 19px;
}
#shortcuts li .inner.social:hover {
	background-image: url('../img/social-blue-fill.png');
}

#shortcuts li .inner.customize {
	background-image: url('../img/customize-blue-outline.png');
	background-size: 22px;
}
#shortcuts li .inner.customize:hover {
	background-image: url('../img/customize-blue-fill.png');
}

#shortcuts li .inner.interface {
	background-image: url('../img/interface-blue-outline.png');
	background-size: 20px;
}
#shortcuts li .inner.interface:hover {
	background-image: url('../img/interface-blue-fill.png');
}

#shortcuts li .inner.touch {
	background-image: url('../img/touch-blue-outline.png');
	background-size: 20px;
}
#shortcuts li .inner.touch:hover {
	background-image: url('../img/touch-blue-fill.png');
}

#shortcuts li .inner.details {
	background-image: url('../img/details-blue-outline.png');
	background-size: 22px;
}
#shortcuts li .inner.details:hover {
	background-image: url('../img/details-blue-fill.png');
}

#shortcuts li .inner.story {
	background-image: url('../img/story-blue-outline.png');
	background-size: 20px;
}
#shortcuts li .inner.story:hover {
	background-image: url('../img/story-blue-fill.png');
}

#speaker {
    background-image: url('../img/spec-icons/audio.png');
    margin-top: 20px;
}
 
#foam {
    background-image: url('../img/spec-icons/comfort.png');
    margin-top: 0px;
}
 
#BT {
    background-image: url('../img/spec-icons/bluetooth.png');
    margin-top: 0px;
}
 
#battery {
    background-image: url('../img/spec-icons/battery.png');
    height: 25px;
}
 
#cable {
    background-image: url('../img/spec-icons/cable.png');
    height: 25px;
}