body {
	margin: 0;
}

h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24pt;
	font-weight: 300;
	margin: 0;
}

p {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
}

:target {
  -webkit-animation: 1s ease;  
  -moz-animation: 1s ease;
  animation: 1s ease;
}

/* Nav bar */

.nav {
	background: rgba(0, 0, 0, 0.75);
	height: 80px;
	padding: 20px 0 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}


/* Logo stuff */
.logo-container {
	float: left;
	height: 80px;
	overflow: hidden;
	position: absolute;
	left: 50px;
	width: 110px;
}

.logo-container > p {
	font-size: 12pt;
	font-weight: 300;
	margin-top: 10px;
	text-align: center;
}

/* Meter stuff */

.meter-container {
	height: 80px;
	margin: auto;
	width: 450px;
}

#stats {
	height: 50px;
	width: 100%;
}

.stat {
	float: left;
	width: 150px;
}

.stat > p > strong {
	color: #00bccc;
	font-size: 18pt;
	font-weight: 700;
	text-align: center;
}

.stat > p {
	font-size: 12pt;
	font-weight: 300;
	text-align: center;
}

.meter { 
	height: 24px;
	position: relative;
	border-color: #00bccc;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
}

.meter > span {
	display: block;
	height: 100%;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #00bccc;
	position: relative;
	overflow: hidden;
}


/* Preorder button stuff */

#preorder-container {
	height: 70px;
	padding-top: 10px;
	position: absolute;
	right: 50px;
	width: auto;
}

#button-outer {
	border-color: #00bccc;
	border-radius: 35px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 58px;
	padding: 5px;
	width: 240px;
}

#button {
	background-color: #00bccc;
	border-radius: 28px;
	cursor: pointer;
	height: 58px;
	width: 240px;
	transition: .25s;
}

#button:hover {
	background-color: #007c8c;
}

#button > h1 {
	color: white;
	font-size: 14pt;
	line-height: 46pt;
	text-align: center;
}

#button > p {
	color: white;
	font-size: 12pt;
	text-align: center;
}


/* Shortcuts */

#shortcuts {
	bottom: 20px;
	height: auto;
	position: fixed;
	right: 40px;
	width: auto;
}

#shortcuts ul {
	list-style-type: none;
}

#shortcuts li {
	height: 32px;
	margin: 10px 0;
}

#shortcuts li p {
	color: transparent;
	cursor: default;
	font-size: 12pt;
	font-weight: 300;
	float:right;
	line-height: 32px;
	transition: 0.25s ease-in-out;
    -webkit-user-select:none;
    user-select:none;
}

#shortcuts li .inner {
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	float: right;
	height: 28px;
	margin-left: 15px;
	transition: .25s ease-in-out;
	width: 28px;
}

#shortcuts li .inner:hover {
	border-color: #007c8c;
	cursor: pointer;
}


/* Basic slide structure */

.carousel {
	height: auto;
	margin: 0;
	padding: 0;
	transition: 1s;
	width: 100%;
}

.slide {
	background-color: #222;
	height: 640px;
	width: 100%;
}

/* Main slide */

#home {
	background-color: #111;
	padding-top: 60px;
	height:700px;
}

#headphone-img {
	/* background-image: url('../img/headphones/WH_black_Blue.jpg'); */
	background-position: center;
	background-size: cover;
	height: 700px;
	width: 100%;
}

/* Main slide - play button */

#play-button {
	height: 120px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 240px;
	position: absolute;
	right: 0;
	width: 120px;
	z-index: 100;
}

#play-button div.outer-play {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	display: table;
	height: 102px;
	padding: 7px;
	-webkit-user-select: none;
	user-select: none;
	width: 102px;
}

#play-button div.inner-play {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	display: table-cell;
	height: 92px;
	padding: 5px;
	vertical-align: middle;
	transition: .25s ease-in-out;
    -webkit-user-select: none;
	user-select: none;
	width: 92px;
}

#play-symbol {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 28px solid #00bccc;
    height: 0;
    left: 40%;
    position: relative;
   	transition: .25s ease-in-out;
    width: 0;
}

/* Main slide video */
#video-container {
	height: 480px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	top: 25%;
	transition: .25s;
	right: 0;
	opacity: 0;
	width: 933px;
}

#campaign-video {
	background-color: black;
	margin-left: 40px;
	position: absolute;
}

/* Social slide */
#social {
	background-image: url('../img/people_listening.jpg');
	background-position: center;
	background-size: cover;
	height: 640px;
}

#social-text-container {
	background-color: rgba(255,255,255,0.2);
	margin-left: 80px;
	margin-top: 400px;
	padding: 20px;
	position: absolute;
	width: 500px;
}

#social-text {
	font-size: 24pt;
	font-weight: 400;
	letter-spacing: 3px;
}

/* Customization slide */
#customize {
	background-color: #1b1b1b;
}

#personalize-text {
	font-size: 24pt;
	font-weight: 400;
	letter-spacing: 3px;
	text-align: center;
}

.blackwhite {
	position: relative; width: 165px;
	margin: auto;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.blackwhite-checkbox {
	display: none;
}

.blackwhite-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 50px;
}

.blackwhite-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.blackwhite-inner:before, .blackwhite-inner:after {
	float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
	font-size: 27px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.blackwhite-inner:before {
	content: "WHITE";
	padding-left: 14px;
	background-color: #999999; color: #fff;
}

.blackwhite-inner:after {
	content: "BLACK";
	padding-right: 14px;
	background-color: #999999; color: #444444;
	text-align: right;
}

.blackwhite-inner:hover {
	text-color: #444444;
}

.blackwhite-switch {
	width: 40px; margin: 0px;
	background: #444444;
	border: 2px solid #999999; border-radius: 50px;
	position: absolute; top: 0; bottom: 0; right: 121px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.blackwhite-checkbox:checked + .blackwhite-label .blackwhite-inner {
	margin-left: 0;
}

.blackwhite-checkbox:checked + .blackwhite-label .blackwhite-switch {
	right: 0px; 
	background-color: #eee; 
}

.color-container {
	position: absolute;
	top: 60px;
	left: 60px;
}

.fill-container {
	position: absolute;
	top: 62px;
	left: 62px;
}

.wheel-container {
	position: absolute;
	top: 40px;
	left: 40px;
}

.palette-container {
	float: left;
	margin-top: 60px;
	width: 320px;
}

.palette {
	position: relative;
	width: 320px;
	height: 300px;
	margin: auto;
}

.personalize-container {
	left: 20%;
	width: 900px;
	height: 640px;
	position: absolute;
}

.headphone-stage {
	background-position: center center;
	background-size: cover;
	width: 400px;
	height: 100%;
	float: left;
	margin-right: 50px;
	transition: .5s;
}

/* Interface slide */
#interface {
	background-color: #111;
}

#interface-container {
	left: 25%;
	margin-top: 40px;
	height: 560px;
	position: absolute;
	width: 900px;
}

#iphone-background {
	background-image: url("../img/iphone_black.png");
	background-position: center center;
	background-size: cover;
	float: left;
	height: 557px;
	width: 271px;
}

#iphone-app {
	background-image: url("../img/test.gif");
	background-size: cover;
	height: 396px;
	margin-left: 20px;
	margin-top: 82px;
	position: absolute;
	width: 223px;
}

#interface-text-container {
	display: table;
	float: left;
	height: 100%;
	margin-left: 80px;
	width: 480px;
}

#interface-text-vertical-align {
	display: table-cell;
	vertical-align: middle;
}

#interface-text {
	font-weight: 400;
	letter-spacing: 3px;
}

/* Details slide */
#details {
	background-color: #333;
}
