video {
	height: 100%;
	object-fit: cover;
	object-position: center 60%;
}


/* Preorder button stuff */

.preorder-container {
	height: 50px;
	margin: 5px 0 5px 20px;
}

#button-outer {
	background-color: transparent;
	border-color: #00bccc;
	border-radius: 23px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 46px;
	padding: 4px;
	width: 180px;
}

#button-inner {
	background-color: #00bccc;
	border-radius: 17px;
	cursor: pointer;
	height: 34px;
	padding-top: 5px;
	transition: .25s;
	width: 168px;
}

#button-inner:hover {
	background-color: #007c8c;
}

#button-inner p {
	color: white;
	font-size: 1.2em;
	margin: auto;
	text-align: center;
}

/* Call to action */

#cta {
	height: 200px;
	opacity: 1;
	position: fixed;
	right: 20px;
	top: 90px;
	width: 320px;
	z-index: 2;
}

#cta p {
	font-size: 12pt;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-align: center;
}

/* Shortcuts */

#shortcuts {
	bottom: 80px;
	height: auto;
	position: fixed;
	right: 40px;
	width: auto;
	z-index: 1;
}

#shortcuts ul {
	list-style-type: none;
}

#shortcuts li {
	height: 28px;
	margin: 10px 0;
}

#shortcuts li p {
	color: white;
	cursor: default;
	font-size: 12pt;
	font-weight: 300;
	float:right;
	line-height: 32px;
	opacity: 1;
    -webkit-user-select: none;
    user-select: none;
}

#shortcuts li .inner {
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	float: right;
	height: 28px;
	margin-left: 15px;
	transition: .25s ease-in-out;
	width: 28px;
}

#shortcuts li .inner:hover {
	border-color: #007c8c;
	cursor: pointer;
}


/* Basic slide structure */

.carousel {
	height: auto;
	margin: 0;
	padding: 0;
	transition: 1s;
	width: 100%;
}

section {
	background-color: #222;
	padding: 4em 0;
  position: relative;
}

/* Main slide */

#home {
	background-image: url('../img/headphones/WH_black_Blue.jpg');
	background-position: center;
	background-size: cover;
}

#title-container {
	margin-top: 26em;
}

p.progress {
	color: white;
	font-size: 16pt;
	font-weight: 300;
	left: 0;
	letter-spacing: 1px;
	margin: 20px auto;
	position: absolute;
	right: 0;
	text-align: center;
}

#social-icon-container {
	height: 50px;
	margin-top: 10px;
	width: 100%;
}

/* Main slide - play button */

#play-button {
	height: 160px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	top: 35%;
	position: absolute;
	right: 0;
	width: 160px;
	z-index: 2;
}

#play-button div.outer-play {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	display: table;
	height: 102px;
	margin: 0 auto;
	padding: 7px;
	-webkit-user-select: none;
	user-select: none;
	width: 102px;
}


#play-button div.inner-play {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
	transition: .25s ease-in-out;
  -webkit-user-select: none;
	user-select: none;
}

#play-button div.inner-play:hover {
	background-color: #00bccc;
}

#play-symbol {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 28px solid #00bccc;
    height: 0;
    left: 37%;
    position: relative;
   	transition: .25s ease-in-out;
    width: 0;
}

#play-button div.inner-play:hover #play-symbol {
	border-left-color: white;
}

#play-button p {
	color: #00bccc;
	font-weight: 700;
	padding-top: 10px;
	text-align: center;
}


/* Main slide video */
#video-container {
	height: 480px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	top: 15%;
	transition: .25s;
	right: 0;
	opacity: 0;
	width: 933px;
	z-index: 2;
}

#campaign-video {
	background-color: black;
	margin-left: 40px;
	position: absolute;
}

/* Press bar */
#press {
	background-color: #111;
	min-height: 50px;
    overflow: auto;
	padding: 25px 0;
	position: relative;
	width: 100%;
}

#press-logo-container {
	display: table;
	margin: auto;
	min-height: 50px;
	overflow: auto;
}

.press-logo {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	min-width: 125px !important;
	margin: 20px auto;
	transition: opacity .25s;
}

.press-logo:hover {
	cursor: pointer;
	opacity: .8;
}


/* Social slide */
#social {
	background-image: url('../img/social.jpg');
	background-position: center;
	background-size: cover;
}

#social-text-container {
	background-color: rgba(0,0,0,0.3);
	margin-top: 20em;
	padding: 20px;
}


/* Customization slide */
section#customize {
	padding: 4em 0;
}
#customize .circle {
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 10px;
  -moz-box-shadow: inset 0px 0px 0px 10px;
  box-shadow: inset 0px 0px 0px 10px;
  cursor: pointer;
  float: left;
  height: 0;
  margin: 2%;
  padding-top: 21%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 21%;
}
#customize .circle.active {
  -webkit-box-shadow: inset 0px 0px 0px 10px, 0px 0px 20px 0px;
  -moz-box-shadow: inset 0px 0px 0px 10px, 0px 0px 20px 0px;
  box-shadow: inset 0px 0px 0px 10px, 0px 0px 20px 0px;
}
#customize .circle.white {
  color: #999;
}
#customize .circle.white:hover,
#customize .circle.white.active {
  color: #fff;
}
#customize .circle.red {
  color: #900;
}
#customize .circle.red:hover,
#customize .circle.red.active {
  color: #f00;
}
#customize .circle.orange {
  color: #940;
}
#customize .circle.orange:hover,
#customize .circle.orange.active {
  color: #f90;
}
#customize .circle.yellow {
  color: #990;
}
#customize .circle.yellow:hover,
#customize .circle.yellow.active {
  color: #ff0;
}
#customize .circle.green {
  color: #090;
}
#customize .circle.green:hover,
#customize .circle.green.active {
  color: #0f0;
}
#customize .circle.cyan {
  color: #099;
}
#customize .circle.cyan:hover,
#customize .circle.cyan.active {
  color: #0ff;
}
#customize .circle.blue {
  color: #009;
}
#customize .circle.blue:hover,
#customize .circle.blue.active {
  color: #11f;
}

#customize .circle.magenta {
  color: #909;
}
#customize .circle.magenta:hover,
#customize .circle.magenta.active {
  color: #f0f;
}
#customize .rectangle {
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 0px 10px;
  -moz-box-shadow: inset 0px 0px 0px 10px;
  box-shadow: inset 0px 0px 0px 10px;
  cursor: pointer;
  float: left;
  height: 0;
  margin: 2%;
  padding-top: 20%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 46%;
}
#customize .rectangle.black {
  color: #191919;
}
#customize .rectangle.black:hover {
  color: #111;
}
#customize .rectangle.white {
  color: #ddd;
}
#customize .rectangle.white:hover {
  color: #fff;
}

/* Interface slide */
#interface {
	background-image: url("../img/dark_wood/dark_wood.png");
	background-repeat: repeat;
}

#iphone-background {
	background-image: url("../img/iphone_black.png");
	background-position: center;
	background-size: cover;
	height: 514px;
	margin: 0 auto;
	width: 250px;
}

#iphone-app {
	height: 365px;
	margin-left: 16px;
	margin-top: 76px;
	position: absolute;
	pointer-events: none;
	width: 210px;
}

#interface .vertical-align {
	margin: 180px 0;
}


/* Touch slide */
#touch {
	background-image: url("../img/touch.jpg");
	background-position-y: 20%;
	background-size: cover;
}

#touch-text-container {
	background-color: rgba(0,0,0,0.3);
	margin-top: 16em;
	padding: 20px;
}

/* Details slide */
section#details {
	padding: 0;
}

#details .vertical-align {
	margin: 50px auto;
}

#image-container {
	height: 533px;
	overflow:hidden;
}

#details img {
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 533px;
}

#details p {
	margin: 1em 0;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  float: left;
  margin-right: 10px;
  width: 50px;
}


/* Story slide */
#story-container {
	height: 600px;
	left: 0;
	margin: 20px auto;
	position: absolute;
	right: 0;
	width: 853px;
}

#story-video-container {
	height: 480px;
	width: 853px;
}

#bottom-preorder-container {
	bottom: 20px;
	height: 100px;
	margin: 20px auto 0 auto;
	width: 324px;
}

#bottom-button-outer {
	border-color: #00bccc;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 76px;
	padding: 10px;
	width: 300px;
}

#bottom-button {
	border-color: #00bccc;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 72px;
	width: 296px;
	transition: .5s;
}

#bottom-button:hover {
	background-color: #00bccc;
}

#bottom-button > h1 {
	color: #00bccc;
	font-size: 20pt;
	font-weight: 700;
	line-height: 56pt;
	text-align: center;
	transition: .5s;
}

#bottom-button:hover > h1{
	color: white;
}


#bottom-button > p {
	color: white;
	font-size: 12pt;
	text-align: center;
}

/*FAQ Title*/
#faqtitle {
	background-color: #111;
	height: auto;
	min-height: 100%;
	display: block;
}

#faq-title-container {
	position: absolute;
	width: 100%;
	height: 120px;
	display: table;
}

#faq-title-container > h1 {
	color: #00bccc;
	font-size: 60px;
	font-weight: 400px;
	display: table-cell;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 40px;
}

#faqs-container {
	position: relative;
	overflow: auto;
	width: 60%;
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.faq-row, .faq-header {
	color: white;
	position: relative;
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.faq-header {
	background-color: #00bccc;
	margin-top: 40px;
}

.faq-header > h2 {
	font-size: 18pt;
	font-weight: 600;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.faqs {
	position: relative;
    width: 40%;
    display: block;
    padding-left: 5%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.faq {
	width: 50%;
}

.clear { 
	clear: both; 
}

.faqs h3 { 
	cursor: pointer;
	font-size: 16pt;
	font-weight: 400;
}

.faqs div { 
	height: 0; 
	overflow: hidden; 
	position: relative;
}

.faqs div p	{ 
	font-size: 14pt;
	font-weight: 300;
	padding: 0; 
	margin-bottom: 15px; 
}


/* Footer */
.footer {
	background-color: #00bccc;
	height: 80px;
}

#footer-nav {
	height: 30px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
	position: absolute;
	right: 0;
	width: 330px;
}

#footer-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer-nav ul li {
	float: left;
	padding: 0 15px;
}

#footer-nav ul li a {
	text-decoration: none;
}

#footer-nav ul li a p {
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	transition: .25s;
}

#footer-nav ul li a p:hover {
	color: #ddd;
	font-weight: 300;
}
