body {
	margin: 0;
}

h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 24pt;
	font-weight: 300;
	margin: 0;
}

p {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

video {
	height: 100%;
	object-fit: cover;
	object-position: center 60%;
}

/* Nav bar */

.nav {
	background: rgba(0, 0, 0, 0.75);
	height: 80px;
	padding: 20px 0 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}


/* Logo stuff */
.logo-container {
	float: left;
	height: 80px;
	overflow: hidden;
	position: absolute;
	left: 50px;
	width: 110px;
}

.logo-container > p {
	font-size: 12pt;
	font-weight: 300;
	margin-top: 10px;
	text-align: center;
}

/* Meter stuff */

.meter-container {
	height: 80px;
	margin: auto;
	width: 450px;
}

#stats {
	height: 50px;
	width: 100%;
}

.stat {
	float: left;
	width: 150px;
}

.stat > p > strong {
	color: #00bccc;
	font-size: 18pt;
	font-weight: 700;
	text-align: center;
}

.stat > p {
	font-size: 12pt;
	font-weight: 300;
	text-align: center;
}

.meter { 
	height: 24px;
	position: relative;
	border-color: #00bccc;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
}

.meter > span {
	display: block;
	height: 100%;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #00bccc;
	position: relative;
}


/* Preorder button stuff */

#preorder-container {
	height: 70px;
	padding-top: 10px;
	position: absolute;
	right: 50px;
	width: auto;
}

#button-outer {
	border-color: #00bccc;
	border-radius: 35px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 58px;
	padding: 5px;
	width: 240px;
}

#button {
	background-color: #00bccc;
	border-radius: 28px;
	cursor: pointer;
	height: 58px;
	width: 240px;
	transition: .25s;
}

#button:hover {
	background-color: #007c8c;
}

#button > h1 {
	color: white;
	font-size: 14pt;
	line-height: 46pt;
	text-align: center;
}

#button > p {
	color: white;
	font-size: 12pt;
	text-align: center;
}

#savings-text {
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
}

/* Shortcuts */

#shortcuts {
	bottom: 80px;
	height: auto;
	position: fixed;
	right: 40px;
	width: auto;
	z-index: 10;
}

#shortcuts ul {
	list-style-type: none;
}

#shortcuts li {
	height: 32px;
	margin: 10px 0;
}

#shortcuts li p {
	color: transparent;
	cursor: default;
	font-size: 12pt;
	font-weight: 300;
	float:right;
	line-height: 32px;
	transition: 0.25s ease-in-out;
    -webkit-user-select:none;
    user-select:none;
}

#shortcuts li .inner {
	background-repeat: no-repeat;
	background-position: center center;
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	float: right;
	height: 28px;
	margin-left: 15px;
	transition: .25s ease-in-out;
	width: 28px;
}

#shortcuts li .inner:hover {
	border-color: #007c8c;
	cursor: pointer;
}


/* Basic slide structure */

.carousel {
	height: auto;
	margin: 0;
	padding: 0;
	transition: 1s;
	width: 100%;
}

.slide {
	background-color: #222;
	height: 640px;
	position: relative;
	width: 100%;
	position: relative;
}

/* Main slide */

#home {
	background-color: #111;
	padding-top: 60px;
	height:700px;
}

#headphone-img {
	background-image: url('../img/headphones/WH_black_Blue.jpg');
	background-position: center;
	background-size: cover;
	height: 700px;
	width: 100%;
}

#cta {
	height: auto;
	position: absolute;
	right: 20px;
	top: 140px;
	width: 320px;
}

#cta p {
	font-size: 12pt;
	letter-spacing: 1px;
	text-align: center;
}

/* Main slide - play button */

#play-button {
	height: 120px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 240px;
	position: absolute;
	right: 0;
	width: 120px;
	z-index: 100;
}

#play-button div.outer-play {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	display: table;
	height: 102px;
	padding: 7px;
	-webkit-user-select: none;
	user-select: none;
	width: 102px;
}

#play-button div.inner-play {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	display: table-cell;
	height: 92px;
	padding: 5px;
	vertical-align: middle;
	transition: .25s ease-in-out;
    -webkit-user-select: none;
	user-select: none;
	width: 92px;
}

#play-button div.inner-play:hover {
	background-color: #00bccc;
}

#play-symbol {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 28px solid #00bccc;
    height: 0;
    left: 40%;
    position: relative;
   	transition: .25s ease-in-out;
    width: 0;
}

#play-button div.inner-play:hover #play-symbol {
	border-left-color: white;
}


/* Main slide video */
#video-container {
	height: 480px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: absolute;
	top: 25%;
	transition: .25s;
	right: 0;
	opacity: 0;
	width: 933px;
}

#campaign-video {
	background-color: black;
	margin-left: 40px;
	position: absolute;
}

/* Social slide */
#social {
	background-image: url('../img/social.jpg');
	background-position: center;
	background-size: cover;
	height: 640px;
}

#social-text-container {
	background-color: rgba(255,255,255,0.2);
	margin-left: 115px;
	margin-top: 440px;
	padding: 20px;
	position: absolute;
	width: 550px;
}

#social-text {
	font-size: 24pt;
	font-weight: 400;
	letter-spacing: 3px;
}

#social-desc {
	font-size: 16pt;
	font-weight: 300;
}

/* Customization slide */
#customize {
	background-color: #1b1b1b;
}

#personalize-text {
	font-size: 24pt;
	font-weight: 400;
	letter-spacing: 3px;
	text-align: center;
}

.blackwhite {
	position: relative; width: 165px;
	margin: auto;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.blackwhite-checkbox {
	display: none;
}

.blackwhite-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 50px;
}

.blackwhite-inner {
	width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.blackwhite-inner:before, .blackwhite-inner:after {
	float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
	font-size: 27px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.blackwhite-inner:before {
	content: "WHITE";
	padding-left: 14px;
	background-color: #999999; color: #fff;
}

.blackwhite-inner:after {
	content: "BLACK";
	padding-right: 14px;
	background-color: #999999; color: #444444;
	text-align: right;
}

.blackwhite-inner:hover {
	text-color: #444444;
}

.blackwhite-switch {
	width: 40px; margin: 0px;
	background: #444444;
	border: 2px solid #999999; border-radius: 50px;
	position: absolute; top: 0; bottom: 0; right: 121px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.blackwhite-checkbox:checked + .blackwhite-label .blackwhite-inner {
	margin-left: 0;
}

.blackwhite-checkbox:checked + .blackwhite-label .blackwhite-switch {
	right: 0px; 
	background-color: #eee; 
}

.color-container {
	position: absolute;
	top: 60px;
	left: 60px;
}

.fill-container {
	position: absolute;
	top: 62px;
	left: 62px;
}

.wheel-container {
	position: absolute;
	top: 40px;
	left: 40px;
}

.palette-container {
	float: left;
	margin-top: 120px;
	width: 320px;
}

.palette {
	position: relative;
	width: 320px;
	height: 300px;
	margin: auto;
}

.personalize-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 640px;
	position: relative;
}

.personalize-text-container {
	float: left;
	position: relative;
	margin-top: 240px;
	width: 400px;
}

#personalize-desc {
	font-size: 16pt;
	font-weight: 300;
	margin-top: 20px;
	margin-left: 40px;
}

.headphone-stage {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 560px;
	width: 400px;
	height: 600px;
	float: left;
	margin-right: 50px;
	padding-top: 40px;
}

.headphone-stage img {
	opacity: 0;
	position: absolute;
	transition: .5s ease;
}

/* Interface slide */
#interface {
	background-color: #111;
	background-image: url("../img/dark_wood/dark_wood.png");
	background-repeat: repeat;
}

#interface-container {
	left: 0;
	margin: 40px auto 0 auto;
	height: 560px;
	position: absolute;
	right: 0;
	width: 900px;
}

#iphone-background {
	background-image: url("../img/iphone_black.png");
	background-position: center center;
	background-size: cover;
	float: left;
	height: 557px;
	width: 271px;
}

#iphone-app {
	height: 396px;
	margin-left: 20px;
	margin-top: 82px;
	position: absolute;
	width: 223px;
}

#interface-text-container {
	display: table;
	float: left;
	height: 100%;
	margin-left: 80px;
	width: 480px;
}

#interface-text-vertical-align {
	display: table-cell;
	vertical-align: middle;
}

#interface-text {
	font-weight: 400;
	letter-spacing: 3px;
}

/* Touch slide */
#touch {
	overflow: hidden;
	min-height: 70%;
}

#cinemagraph {
	display: inline-block; 
	z-index: 0; 
	position: absolute; 
	left: 0;
	width: 100%; 
	height: 100%;
}

#touch-container {
	height: 600px;
	position: relative;
	float: right;
	width: 50%;
	z-index: 1;
}

#touch-text-container {
	float: left;
	height: 600px;
	width: 600px;
}

/* Details slide */
#details {	
	background-color: #111;
}

#details-container {
	height: 600px;
	left: 0;
	margin: 20px auto;
	position: absolute;
	right: 0;
	width: 1000px;
}

#details-headphone-container {
	float: left;
	height: 600px;
	width: 400px;
}

#details-headphone-image {
	background-image: url("../img/closeups/chevron.jpg");
	background-position: ;
	background-size: cover;
	height: 360px;
	margin-top: 100px;
	width: 360px;
}

#details-text-container {
	float: left;
	height: 600px;
	width: 600px;
}

#details-text-table {
	display: table;
	height: 100%;
	width: 100%;
}

#details-text-center {
	display: table-cell;
	vertical-align: middle;
}

h1.details-text {
	font-weight: 400;
	letter-spacing: 3px;
}

p.details-text {
	font-size: 22px;
	font-weight: 400px;
	line-height: 30px;
}

/* Story slide */
#story-container {
	height: 600px;
	left: 0;
	margin: 20px auto;
	position: absolute;
	right: 0;
	width: 853px;
}

#story-video-container {
	height: 480px;
	width: 853px;
}

#bottom-preorder-container {
	bottom: 20px;
	height: 100px;
	margin: 20px auto 0 auto;
	width: 324px;
}

#bottom-button-outer {
	border-color: #00bccc;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 76px;
	padding: 10px;
	width: 300px;
}

#bottom-button {
	border-color: #00bccc;
	border-radius: 50px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 72px;
	width: 296px;
	transition: .5s;
}

#bottom-button:hover {
	background-color: #00bccc;
}

#bottom-button > h1 {
	color: #00bccc;
	font-size: 20pt;
	font-weight: 700;
	line-height: 56pt;
	text-align: center;
	transition: .5s;
}

#bottom-button:hover > h1{
	color: white;
}


#bottom-button > p {
	color: white;
	font-size: 12pt;
	text-align: center;
}

/*FAQ Title*/
#faqtitle {
	background-color: #111;
	padding-top: 60px;
	height: auto;
	min-height: 100%;
	display: block;
}

#faq-title-container {
	position: absolute;
	width: 100%;
	height: 300px;
	display: table;
}

#faq-title-container > h1 {
	font-size: 60px;
	font-weight: 400px;
	display: table-cell;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 60px;
}

#faqs-container {
	position: relative;
	overflow: auto;
	width: 60%;
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
}

.faq-row, .faq-header {
	position: relative;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: white;
}

.faq-header {
	background-color: #666;
}

.faq-header > h2 {
	font-size: 18pt;
	font-weight: 600;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.faqs {
	position: relative;
    width: 40%;
    display: block;
    padding-left: 5%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.faq {
	width: 50%;
}

.clear { 
	clear: both; 
}

.faqs h3 { 
	cursor: pointer;
	font-size: 18pt;
	font-weight: 400;
}

.faqs div { 
	height: 0; 
	overflow: hidden; 
	position: relative;
	font-size: 15pt;
	font-weight: 100;
}

.faqs div p	{ 
	padding: 0; 
	margin-bottom: 15px; 
}



/* Footer */
.footer {
	background-color: #00bccc;
	height: 80px;
}

#footer-nav {
	height: 30px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 34px;
	position: absolute;
	right: 0;
	width: 330px;
}

#footer-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footer-nav ul li {
	float: left;
	padding: 0 15px;
}

#footer-nav ul li a {
	text-decoration: none;
}

#footer-nav ul li a p {
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	transition: .25s;
}

#footer-nav ul li a p:hover {
	color: #ddd;
	font-weight: 300;
}
