div.logo-thumb {
	background-image: url('../img/logo_cyan_transparent_small.png');
	height: 50px;
	margin: auto;
	width: 93px;
}

div.icon-customize {
	background-image: url('../img/customize-blue-outline.png');
	background-size: cover;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	width: 20px;
}

div.icon-details {
	background-image: url('../img/details-blue-outline.png');
	background-size: cover;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	width: 20px;
}

div.icon-home {
	background-image: url('../img/home-blue-outline.png');
	background-size: cover;
	height: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	width: 15px;
}

div.icon-interface {
	background-image: url('../img/interface-blue-outline.png');
	background-size: cover;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	width: 20px;
}

div.icon-social {
	background-image: url('../img/social-blue-outline.png');
	background-size: cover;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	width: 20px;
}

div.icon-story {
	background-image: url('../img/story-blue-outline.png');
	background-size: cover;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	width: 20px;
}

