div.logo-thumb {
	background-image: url('../img/logo_cyan_transparent_small.png');
	height: 50px;
	margin: auto;
	width: 93px;
}

#shortcuts li div.home {
	background-image: url('../img/home-blue-outline.png');
	background-size: 15px;
}

#shortcuts li div.home:hover {
	background-image: url('../img/home-black-fill.png');
}

#shortcuts li div.social {
	background-image: url('../img/social-blue-outline.png');
	background-size: 16px;
}

#shortcuts li div.social:hover {
	background-image: url('../img/social-black-fill.png');
}

#shortcuts li div.customize {
	background-image: url('../img/customize-blue-outline.png');
	background-size: 19px;
}
#shortcuts li div.customize:hover {
	background-image: url('../img/customize-black-fill.png');
}

#shortcuts li div.interface {
	background-image: url('../img/interface-blue-outline.png');
	background-size: 17px;
}
#shortcuts li div.interface:hover {
	background-image: url('../img/interface-black-fill.png');
}

#shortcuts li div.details {
	background-image: url('../img/details-blue-outline.png');
	background-size: 20px;
}
#shortcuts li div.details:hover {
	background-image: url('../img/details-black-fill.png');
}

#shortcuts li div.story {
	background-image: url('../img/story-blue-outline.png');
	background-size: 18px;
}
#shortcuts li div.story:hover {
	background-image: url('../img/story-black-fill.png');
}
