body {
	margin: 0;
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 24pt;
	font-weight: 700;
	margin: 0;
}

p {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0;
}

/* Nav bar */

.nav {
	background: rgba(0, 0, 0, 0.25);
	height: 80px;
	padding: 20px 0 20px 0;
	position: fixed;
	top: 0;
	width: 100%;
}


/* Logo stuff */
.logo-container {
	float: left;
	height: 80px;
	overflow: hidden;
	position: absolute;
	left: 50px;
	width: 110px;
}

.logo-container > p {
	font-size: 12pt;
	margin-top: 10px;
	text-align: center;
}

/* Meter stuff */

.meter-container {
	height: 80px;
	margin: auto;
	width: 450px;
}

#stats {
	height: 50px;
	width: 100%;
}

.stat {
	float: left;
	width: 150px;
}

.stat > p > strong {
	color: #00bccc;
	font-size: 18pt;
	font-weight: 700;
	text-align: center;
}

.stat > p {
	font-size: 12pt;
	font-weight: 400;
	text-align: center;
}

.meter { 
	height: 24px;
	position: relative;
	border-color: #00bccc;
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
}

.meter > span {
	display: block;
	height: 100%;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #00bccc;
	position: relative;
	overflow: hidden;
}


/* Preorder button stuff */

#preorder-container {
	height: 70px;
	padding-top: 10px;
	position: absolute;
	right: 50px;
	width: auto;
}

#button-outer {
	border-color: #00bccc;
	border-radius: 35px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	height: 58px;
	padding: 5px;
	width: 240px;
}

#button {
	background-color: #00bccc;
	border-radius: 28px;
	cursor: pointer;
	height: 58px;
	width: 240px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#button:hover {
	background-color: #50bccc;
}

#button > h1 {
	color: white;
	font-size: 16pt;
	line-height: 46pt;
	text-align: center;
}

#button > p {
	color: white;
	font-size: 12pt;
	text-align: center;
}


/* Shortcuts */

#shortcuts {
	bottom: 20px;
	height: auto;
	position: fixed;
	right: 40px;
	width: auto;
}

#shortcuts ul {
	list-style-type: none;
}

#shortcuts li {
	height: 30px;
	margin: 10px 0;
}

#shortcuts li p {
	font-size: 12pt;
	float:right;
	line-height: 40px;
}

#shortcuts li div.outer {
	border-color: transparent;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	float: right;
	height: 30px;
	margin-left: 5px;
	padding: 2px;
	width: 30px;
}

#shortcuts li div.inner {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	float: right;
	height: 28px;
	transition: 0.5s ease-in-out;
	width: 28px;
}

#shortcuts li div.inner:hover {
	background-color: #00bccc;
}

/* Basic slide structure */

.carousel {
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

.slide {
	background-color: #222;
	height: 800px;
	width: 100%;
}

/* Main slide */

#main {
	background-color: #111;
	padding-top: 120px;
}

#headphone-img {
	background-image: url('../img/headphones_front.jpg');
	background-position: center;
	background-size: cover;
	height: 700px;
	width: 100%;
}

/* Main slide - play button */

#play-button {
	height: 120px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	position: absolute;
	right: 0;
	width: 120px;
}

#play-button div.outer {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	display: table;
	height: 104px;
	padding: 7px;
	width: 104px;
}

#play-button div.inner {
	border-color: #00bccc;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	display: table-cell;
	height: 94px;
	padding: 5px;
	vertical-align: middle;
	width: 94px;
}

#play-symbol {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 28px solid #00bccc;
    height: 0;
    left: 40%;
    position: relative;
    width: 0;
}