<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/icons.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script language="javascript" type="text/javascript" src="../static/js/wearhaus.js"></script>
	</head>
	<body>

		<!-- Nav bar content -->
		<div class="nav">
			<div class="logo-container">
				<div class="logo-thumb"></div>
				<p>WEARHAUS</p>
			</div>
			<div id="preorder-container">
				<div id="button-outer">
					<div id="button">
						<h1>PRE-ORDER NOW</h1>
						<!--<p>Get it early. Save $50</p>-->
					</div>
				</div>
			</div>
			<div class="meter-container">
				<div id="stats">
					<div class="stat"><p><strong>1337</strong></p><p>BACKERS</p></div>
					<div class="stat"><p><strong>$133,370</strong><p>OF $50,000</p></div>
					<div class="stat"><p><strong>30</strong></p><p>DAYS LEFT</p></div>
				</div>
				<div class="meter">
					<span style="width:37%"></span>
				</div>
			</div>
		</div>

		<!-- Shortcut icons -->
		<div id="shortcuts">
			<ul>
				<li>
					<div class="outer">
						<div class="inner home">
						</div>
					</div>
					<p class="home">HOME</p>
				</li>
				<li>
					<div class="outer">
						<div class="inner social">
						</div>
					</div>
					<p class="social">SOCIAL</p>
				</li>
				<li>
					<div class="outer">
						<div class="inner customize"></div>
					</div>
					<p class="customize">CUSTOMIZE</p>
				</li>
				<li>
					<div class="outer">
						<div class="inner interface"></div>
					</div>
					<p class="interface">INTERFACE</p>
				</li>
				<li>
					<div class="outer">
						<div class="inner details"></div>
					</div>
					<p class="details">DETAILS</p>
				</li>
				<li>
					<div class="outer">
						<div class="inner story"></div>
					</div>
					<p class="story">OUR STORY</p>
				</li>
			</ul>
		</div>

		<!-- Main carousel content -->
		<div class="carousel">
			<!-- Video slide -->
			<div class="slide" id="main">
				<div id="headphone-img">
					<div id="play-button">
						<div class="outer">
							<div class="inner">
								<div id="play-symbol"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<
		</div>
	</body>
</html>