<html>
	<head>
		<title>Wearhaus ARC - Headphones reinvented. Social listening redefined.</title>
		<meta name="author" content="Wearhaus Inc." />
		<meta property="og:image" content="http://campaign.wearhaus.com/static/img/headphones/WH_blackwhite_cyan.jpg"/>
		<meta property="og:image" content="http://campaign.wearhaus.com/static/img/headphones/WH_black_Blue.jpg"/>
		<meta property="og:title" content="Wearhaus ARC - Headphones reinvented. Social listening redefined."/>
		<meta property="og:url" content="http://campaign.wearhaus.com/"/>
		<meta property="og:description" content="Hear and be heard. Tune in with friends and listen in sync. Share your sound and connect with people through the music you love."/>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/icons.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="../static/js/jquery.knob.js"></script>
		<script language="javascript" type="text/javascript" src="../static/js/wearhaus.js"></script>
        <script>
            $(function($) {
				var	colors = ["#fff", "#0ff", "#0f0", "#ff0", "#fa0", "#f33", "#fe00fe"]//, "8070FA"],
					color_words = ["white", "cyan", "green", "yellow", "orange", "red", "magenta"]//, "red"],
					bodybg = "#1b1b1b",
					start = 1;
					
				var	sections = colors.length,
					arcAngle = 360/sections,
					fillBorder = 2;

				var currentLightColor = "cyan", currentBaseColor = "black";
				$(".headphone-stage #" + currentBaseColor + "-" + currentLightColor).css("opacity", "1");

				function LED(color) {
					var prevBaseColor = currentBaseColor;
					var prevLightColor = currentLightColor;

					currentLightColor = color_words[color];
					$(".headphone-stage #" + currentBaseColor + "-" + currentLightColor).css("opacity", "1");
					setTimeout(function() {
						$(".headphone-stage #" + prevBaseColor + "-" + prevLightColor).css("opacity", "0");
					}, 200);
				}

				$("input.wheel")
				.attr("value", start)
				.knob({
					width:			240,
					height:			240,
					thickness:		.07,
					cursor:			36,
					angleOffset:	25.71,
					min : 			0,
					max : 			sections,
					bgColor:		bodybg,
					fgColor:		colors[start],
					stopper: 		false,
					displayInput:	false,

					//Handler functions for click/scroll - will call transition function
					change : function (v) {
						v %= sections;
						this.o.fgColor = colors[v];
						LED(v);
					},

					release : function (v) {
						this.o.fgColor = colors[this.cv % sections];
						this._draw();
					}
				});

                $("input.color")
                .each(
					function(i, e) {
						$(e).attr('data-bgColor', colors[$(e).data('index')]);
						$(e).attr('data-angleOffset', arcAngle*parseInt($(e).data('index')));
					})
                .knob({
					width:			200,
					height:			200,
					thickness:		.3,
					angleArc:		arcAngle,
					displayInput:	false,
					readonly:		true,
				});

                $("input.fill")
                .each(
					function(i, e) {
						$(e).attr('data-angleOffset', arcAngle*parseInt($(e).data('index')) + fillBorder);
					})
				.knob({
					width:			196,
					height:			196,
					thickness:		.27,
					angleArc:		arcAngle - 2*fillBorder,
					bgColor:		bodybg,
					displayInput:	false,
					readonly:		true,
				});

				$("input.blackwhite-checkbox")
				.change(function() {
					//console.log($(this).is(":checked") ? "white" : "black");
					$(".headphone-stage #" + currentBaseColor + "-" + currentLightColor).css("opacity", "0");
					currentBaseColor = $(this).is(":checked") ? "white" : "black";
					$(".headphone-stage #" + currentBaseColor + "-" + currentLightColor).css("opacity", "1");
				});
				
				$(".touch-text").hover(
				function() {
						$(this).css("font-weight", 400);
						$(".touch-stage #" + $(this).data('gesture')).css("opacity", "1");
				},
				function() {
						$(this).css("font-weight", 300);
						$(".touch-stage #" + $(this).data('gesture')).css("opacity", "0");
				});           
            });
        </script>

	</head>
	<body>

		<!-- Nav bar content -->
		<div class="nav">
			<a href="/">
				<div class="logo-container">
					<div class="logo-thumb"></div>
					<p>WEARHAUS</p>
				</div>
			</a>
			<div id="preorder-container">
				<a href="https://checkout.wearhaus.com/preorder/checkout/amount">
					<div id="button-outer">
						<div id="button">
							<h1>PRE-ORDER NOW</h1>
						</div>
					</div>
				</a>
				<!--<p id="savings-text">Get yours early. Save $50</p>-->
			</div>
			<div class="meter-container">
				<div id="stats">
					<div class="stat"><p><strong>{{backers}}</strong></p><p>BACKERS</p></div>
					<div class="stat"><p><strong>${{raised}}</strong><p>OF ${{goal}}</p></div>
					<div class="stat"><p><strong>{{days_remaining}}</strong></p><p>DAYS LEFT</p></div>
				</div>
				<div class="meter">
					<span style="width:{{progress}}%"></span>
				</div>
			</div>
		</div>

		<div id="cta">
			<a href="https://checkout.wearhaus.com/preorder/checkout/amount">
				{% if code %}
				<p>ENTER THE CODE <strong>{{code}}</strong> AT CHECKOUT AND SAVE ${{50 + discount}} OR MORE</p>
				{% else %}
				<p>SAVE $50 OR MORE</p>
				{% endif %}
			</a>
		</div>

		<!-- Shortcut icons -->
		<div id="shortcuts">
			<ul>
				<li>
					<a href="#home" class="inner home"></a>
					<p class="home">HOME</p>
				</li>
				<li>
					<a href="#social" class="inner social"></a>
					<p class="social">SHARING</p>
				</li>
				<li>
					<a href="#customize" class="inner customize"></a>
					<p class="customize">PERSONALITY</p>
				</li>
				<li>
					<a href="#interface" class="inner interface"></a>
					<p class="interface">INTERFACE</p>
				</li>
				<li>
					<a href="#touch" class="inner touch"></a>
					<p class="touch">TOUCH</p>
				</li>
				<li>
					<a href="#details" class="inner details"></a>
					<p class="details">SPECS</p>
				</li>
				<li>
					<a href="#story" class="inner story"></a>
					<p class="story">OUR STORY</p>
				</li>
			</ul>
		</div>

		<!-- Main carousel content -->
		<div class="carousel">
			<!-- Video slide -->
			<div class="slide" id="home">
				<div id="title-container">
					<h1 class="title-small">INTRODUCING</h1>
					<h1 class="title-large">WEARHAUS ARC</h1>
					<p class="title-tagline">Wireless headphones reinvented</p>
					<p class="title-tagline">Social listening redefined</p>
				</div>
				<div id="headphone-img">
					<div id="play-button">
						<div class="outer-play">
							<div class="inner-play">
								<div id="play-symbol"></div>
							</div>
						</div>
					</div>
					<div id="video-container">
						<iframe id="campaign-video" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
						<div class="x"></div>
					</div>
				</div>
			</div>
			<!-- Social slide -->
			<div class="slide" id="social">
				<div id="social-text-container">
					<p id="social-text">SHARE YOUR TASTE IN MUSIC</p>
					<p id="social-desc">Wirelessly sync multiple headphones and listen together. Discover new artists and connect with the people around you.</p>
				</div>
			</div>
			<!-- Personalization slide -->
			<div class="slide" id="customize">
				<div class="personalize-container">
					<div class="headphone-stage">
						<img id="black-white" src="../static/img/headphones/WH_black_side_white.png" height="80%"></img>
						<img id="black-cyan" src="../static/img/headphones/WH_black_side_cyan.png" height="80%"></img>
						<img id="black-green" src="../static/img/headphones/WH_black_side_green.png" height="80%"></img>
						<img id="black-yellow" src="../static/img/headphones/WH_black_side_yellow.png" height="80%"></img>
						<img id="black-orange" src="../static/img/headphones/WH_black_side_orange.png" height="80%"></img>
						<img id="black-red" src="../static/img/headphones/WH_black_side_red.png" height="80%"></img>
						<img id="black-magenta" src="../static/img/headphones/WH_black_side_magenta.png" height="80%"></img>
						<img id="white-white" src="../static/img/headphones/WH_white_side_white.png" height="80%"></img>
						<img id="white-cyan" src="../static/img/headphones/WH_white_side_cyan.png" height="80%"></img>
						<img id="white-green" src="../static/img/headphones/WH_white_side_green.png" height="80%"></img>
						<img id="white-yellow" src="../static/img/headphones/WH_white_side_yellow.png" height="80%"></img>
						<img id="white-orange" src="../static/img/headphones/WH_white_side_orange.png" height="80%"></img>
						<img id="white-red" src="../static/img/headphones/WH_white_side_red.png" height="80%"></img>
						<img id="white-magenta" src="../static/img/headphones/WH_white_side_magenta.png" height="80%"></img>
					</div>
					<div class="palette-container">
						<div class="palette">	
							<div class="color-container">
								<input class="color" data-index=0>
							</div>	
							<div class="color-container">
								<input class="color" data-index=1>
							</div>
							<div class="color-container">
								<input class="color" data-index=2>
							</div>
							<div class="color-container">
								<input class="color" data-index=3>
							</div>
							<div class="color-container">
								<input class="color" data-index=4>
							</div>
							<div class="color-container">
								<input class="color" data-index=5>
							</div>
							<div class="color-container">
								<input class="color" data-index=6>
							</div>
							<div class="color-container">
								<input class="color" data-index=7>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=0>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=1>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=2>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=3>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=4>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=5>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=6>
							</div>
							<div class="fill-container">
								<input class="fill" data-index=7>
							</div>
							<div class="wheel-container">
								<input class="wheel">
							</div>
						</div>
						<div class="blackwhite">
							<input type="checkbox" name="blackwhite" class="blackwhite-checkbox" id="basecolor">
							<label class="blackwhite-label" for="basecolor">
								<div class="blackwhite-inner"></div>
								<div class="blackwhite-switch"></div>
							</label>
						</div>
					</div>
						<div id="personalize-text-container">
							<p id="personalize-text">EXPRESS YOURSELF THROUGH COLOR</p>
							<p id="personalize-desc">Arc is all about you. Your style, your personality, and the music you love.</p>
							<p id="personalize-desc">Customize the light ring anytime from your app, and let your true colors shine.</p>
						</div>

					</div>
				</div>

			</div>

			<!-- Interface slide -->
			<div class="slide" id="interface">
				<div id="interface-container">
					<div id="iphone-background">
						<div id="iphone-app">
							<iframe src="http://gfycat.com/iframe/ElegantAcidicHarborseal" frameborder="0" scrolling="no" width="237" height="403"></iframe>
						</div>
					</div>
					<div id="interface-text-container">
                        <div id="interface-text-vertical-align">
                            <h1 id="interface-text">HEAR AND BE HEARD</h1>
                            <p id="interface-desc">The Wearhaus app is exceptionally simple. See what people around you are listening to, join them in real time, or broadcast your own playlist.</p>
                            <p id="interface-desc">It's never been easier to share and enjoy music.</p>
                        </div>
                    </div>
                </div>
			</div>

			<!-- Touch control slide -->
			<div class="slide" id="touch">
				<div id="touch-container">
					<div id="touch-text-container">
						<div id="touch-text-table">
							<div id="touch-text-center">
								<h1 class="touch-title">INTUITIVE TOUCH CONTROLS</h1>
								<br>
								<div class="touch-desc">
										<p class="touch-text" data-gesture="tap">Play/Pause</p>
										<p class="touch-text" data-gesture="updown">Volume</p>
										<p class="touch-text" data-gesture="leftright">Next/Previous</p>
										<p class="touch-text" data-gesture="spread">Broadcast</p>
										<p class="touch-text" data-gesture="hold">Join</p>
								</div>
								<div class="touch-stage">
										<img id="tap" src="../static/img/gestures/tap.png" />
										<img id="updown" src="../static/img/gestures/updown.png" />
										<img id="leftright" src="../static/img/gestures/leftright.png" />
										<img id="spread" src="../static/img/gestures/spread.png" />
										<img id="hold" src="../static/img/gestures/hold.png" />
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Details slide -->
			<div class="slide" id="details">
					<div id="details-headphone-container">
						<div>
							<img src="../static/img/closeups/chevron.jpg">
						</div>
						<div>
							<img src="../static/img/closeups/band.jpg">
						</div>
						<div>
							<img src="../static/img/closeups/cushion.jpg">
						</div>
						<div>
							<img src="../static/img/closeups/cables.jpg">
						</div>
					</div>
					<div id="details-text-container">
						<div id="details-text-table">
							<div id="details-text-center">
								<h1 class="details-text">SUPERIOR SOUND,</h1>
								<h1 class="details-text">COMFORT, AND DURABILITY</h1>
								<br>
								<div class="icon" id="spkr"></div><p class="details-text">40mm dual diaphragm drivers<br>
								Smooth 20Hz to 20kHz frequency response<br>
								Noise isolation and mic functionality</p><br>
								<div class="icon" id="foam"></div><p class="details-text">Memory foam cushioning<br>
								Ergonomic, stress-tested headband</p><br>
								<div class="icon" id="BT"></div><p class="details-text">30m syncing range<br>
								Bluetooth 4.0 with aptX® Codec</p><br>
								<div class="icon" id="battery"></div><p class="details-text">16 hours individual playback. 10 hours while sharing.</p><br>
								<div class="icon" id="cable"></div><p class="details-text">USB charging and 3.5mm aux cable included.</p>
							</div>						</div>
					</div>
			</div>

			<!-- Story slide -->
			<div class="slide" id="story">
				<div id="story-container">
					<div id="story-video-container">
						<iframe width="853" height="480" src="//www.youtube.com/embed/J_6vV5GvQZg?list=PLs0rLWE-xlJDJ14C0fJVMVLMgkcuGBRgC&rel=0&loop=1&color=white" frameborder="0" allowfullscreen></iframe>
					</div>
					<div id="bottom-preorder-container">
						<div id="bottom-button-outer">
							<div id="bottom-button" onclick="window.open('https://checkout.wearhaus.com/preorder/checkout/amount')">
								<h1>PRE-ORDER NOW</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<div class="footer">
			<div id="footer-nav">
				<ul>
					<li><a href="/thankyou"><p>REFERRALS</p></a></li>
					<li><a href="/faq"><p>FAQ</p></a></li>
					<li><a href="http://jobs.wearhaus.com/" target="_blank"><p>JOBS</p></a></li>
					<li><a href="mailto:team@wearhaus.com"><p>CONTACT</p></a></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript"> 
			var ftRandom = Math.random()*1000000; 

			document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="http://servedby.flashtalking.com/container/4943;29237;3452;iframe/?spotName=Homepage&cachebuster='+ftRandom+'"></iframe>');
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-47387009-1', 'wearha.us');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
